.body {
    background-color: #333;
    color: white;
    display: flex;
}

.content {
    margin-top: 10px;
    margin-bottom: 10;
    background-color: gray;
    padding: 20px;
    width: 600px;
}

#display {
    width: 100%;
}



